<h1>Juegos</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @juegos.each do |juego| %>
  <tr>
    <td><%= juego.titulo %></td>
    <td><%= juego.descripcion %></td>
    <td><%= juego.url %></td>
    <td><%= link_to 'Show', juego %></td>
    <td><%= link_to 'Edit', edit_juego_path(juego) %></td>
    <td><%= link_to 'Destroy', juego, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Juego', new_juego_path %>
